<?xml version='1.0' encoding='utf-8'?>
<plugin id="mchp-csrreg">
  <feature extension="package.version" value="0.0.1" />
  <require plugin="org.dita.pdf2" />
  <feature extension="dita.conductor.transtype.check" value="mchp-csrreg" />
  <feature extension="dita.transtype.print" value="mchp-csrreg" />
  <feature extension="dita.conductor.target.relative" file="integrator.xml" />
</plugin>
